.background{
  background-color: #ffffff;
}
.Header{
  height: 100px;
  background-color: #1e847f;
}


.page{
  height: 770px;
  width: 1000px;
  margin: 0 auto;
  background-color: #ffffff
}


.workout_container{
  float: left;
  width: 31%;
  margin: 20px 1.15%;
  height: 200px;
  border-radius: 8px;
}

.footer{
  clear: both;
  height: 250px;
  background-color: #13847f;
  justify-content: space-evenly;
  display: flex;
}

.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}
/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#wc1{
  background-image: url(https://i.kym-cdn.com/entries/icons/mobile/000/026/152/gigachad.jpg);
  background-repeat: no-repeat;
  background-position: -150px -140px;
  background-color: black;
  line-height: 200px;
  height: 200px;
  border: 3px solid black;
  text-align: center;
}

#wc1 h1 {
  line-height: 1.5;
  display: inline-block;
  vertical-align: middle;
  color: white
}

#wc2{
  background-image: url(https://domf5oio6qrcr.cloudfront.net/medialibrary/10200/GettyImages-1208790371.jpg);
  line-height: 200px;
  height: 200px;
  border: 3px solid black;
  text-align: center;
}

#wc2 h1{
  line-height: 1.5;
  display: inline-block;
  vertical-align: middle;
  color: white
}
#wc3{
  background-image: url(https://target.scene7.com/is/image/Target/GUEST_f7fa113b-b0e8-476d-b56d-d3b977f16cda?wid=488&hei=488&fmt=pjpeg);
  background-position: 0;
  line-height: 200px;
  height: 200px;
  border: 3px solid black;
  text-align: center;
}
#wc3 h1{
  line-height: 1.5;
  display: inline-block;
  vertical-align: middle;
  color: white
}
